manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
  projects:
    - name: zmk
      remote: zmkfirmware
      revision: v0.1.0 # This will be maintained by the upgrade-zmk workflow
      import: app/west.yml
  self:
    path: tests